.vscode
.idea
bnfc
gen
jlc
build
bin
tester
bin-int
*.mk
*.project
*.workspace
*.gz
.codelite
.build-debug
compile_flags.txt
*.txt
tags
*.make
install/
wip/
null.d

## Mac specific

.DS_Store

## Windows specific
flexbison
premake5.exe
.vs
*.exe
